:root {
  --primary-colour: #ddd;
  --secondary-colour: #fff;
  --accent-colour: teal;
  --preview-bg: #fff;
  --border-colour: #000;
  --ff: "Roboto", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  --variable-height: 100vh;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: var(--primary-colour);
  font-family: var(--ff);
}

#root {
  display: flex;
  justify-content: center;
  padding: 0;
}

.input-container {
  border-right: 1px solid var(--border-colour);
  box-shadow: 1px 0 1px var(--border-colour);
}

.options-container {
  margin-top: 1rem;
  text-align: center;
}

.information {
  background: var(--secondary-colour);
  border-radius: 0.3rem;
  margin: 2rem;
  padding: 1rem;
  text-align: center;
}

.info-form {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.info-form > input,
textarea {
  margin-bottom: 0.5rem;
  border: 1px solid var(--border-colour);
  border-radius: 0.2rem;
}

textarea {
  resize: none;
}

.form-header {
  margin-top: 0.5rem;
  text-align: center;
}

.options-button {
  color: var(--primary-colour);
  border: 1px solid rgba(0, 0, 0, 0);
  font-weight: 600;
  border-radius: 0.3rem;
  margin: 0.3rem 0.3rem;
  padding: 0.5rem 0.7rem;
  background: var(--accent-colour);
  box-shadow: 1px 1px 3px black;
  transition: box-shadow 0.1s ease;
}

.options-button:hover {
  transform: scale(1.05);
}

.options-button:active {
  box-shadow: 0px 0px 3px 2px black;
}

#resume-preview {
  position: relative;
  margin: 0 4rem;
  padding: 2rem;
  max-width: 800px;
  top: 8%;
  background: var(--preview-bg);
}

.general-info-container {
  display: flex;
  justify-content: space-evenly;
}

.list-item {
  list-style-type: none;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.list-item p,
h4 {
  margin: 0.5rem 0;
}

.list-button {
  height: 50%;
  margin: 0 0.5rem;
}
